<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">

        <link href="http://vjs.zencdn.net/4.1/video-js.css" rel="stylesheet">
        <script src="/assets/js/video.min.js"></script>
        <!--RangeSlider Pluging-->
        <script src="/assets/js/rangeslider.js"></script>
        <link href="/assets/css/rangeslider.css" rel="stylesheet">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Jamie Folsom<br />
                omnivore<br />
                jamiefolsom@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/jamiefolsom">github.com/jamiefolsom</a><br />
                <a href="https://twitter.com/jamiefolsom">twitter.com/jamiefolsom</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
