---
layout: default
---
<h2 class="title">{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>
<button type="button" class="btn btn-default" onClick="setClipFromQueryParams()">Set Clip From URL</button>
{{ content }}
<div class="form-group">
Share link: <input type="text" value="" id="share-link" class="form-control">
</div>

<script type="text/javascript">
	var options = {'hidden':false};
	var mplayer = videojs("vid1");
	mplayer.rangeslider(options);
	 
	$(".vjs-rangeslider-handle").on("mouseup", function() {
		var values = mplayer.getValueSlider();
		console.log(values);
		var start = videojs.round(values.start,2);
		var end = videojs.round(values.end,2);
		var link = "http://jamiefolsom.github.io/delicatessen/2013/11/20/barbara.html?"+"start="+start+"&end="+end;
		$("#share-link").val(link);
	});

	function playBetween(){
		var start,end;
		start = document.getElementById('Start').value;
		end = document.getElementById('End').value;
		mplayer.playBetween(start,end);
	}
	function setShareLinkFromClip(){
		var values = mplayer.getValueSlider();
	    console.log(values);
		var start = videojs.round(values.start,2);
		var end = videojs.round(values.end,2);
		var link = "http://jamiefolsom.github.io/delicatessen/2013/11/20/barbara.html?"+"start="+start+"&end="+end;
		$("#share-link").val(link);
	}
	function setClipFromQueryParams(){
		var url = $.url(); // parse the current page URL
		start = url.param("start");
		end = url.param("end");
		mplayer.playBetween(start,end);
	}
</script>
